<% content_for(:page_title, 'Support - Problem') %>
<%= form_for @support, url: support_problem_path  do |f| %>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Report a problem</h1>
      </legend>

      <%= f.hidden_field :subject, value: "Verify Support - Problem" %>

      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :your_name %>

      <%= f.text_field :service_name %>

      <%= f.text_field :your_email_address %>

      <%= f.text_field :email_addresses_of_anyone_else_you_want_to_be_copied_in %>

    </fieldset>
    <br><%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
