<% content_for(:page_title, 'Support - Problem') %>
<%= form_for @support, url: support_problem_path  do |f| %>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Report a problem</h1>
      </legend>

      <%= f.hidden_field :subject, value: "Problem" %>

      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :name %>

      <%= f.text_field :service %>

      <%= f.text_field :email %>

      <%= f.text_field :collaborators, placeholder: "For others to be cc'd (comma-separated list of emails)" %>

    </fieldset>
    <br><%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
