<% content_for(:page_title, 'Support - Problem') %>
<%= form_for @support, url: support_problem_path  do |f| %>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Report a problem</h1>
      </legend>

      <%= f.hidden_field :subject, value: "[Problem]" %>

      <label class="form-label" for="textarea">
        What do you need help with?
      </label>
      
      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :name %>

      <!--<label class="form-label" for="service">Your service</label>
      <input class="form-control" id="service" type="text" name="service">-->

      <%= f.email_field :email %>

      <!--<label class="form-label" for="email-cc">Email of anyone you want cc'd</label>
      <input class="form-control" id="email-cc" type="text" name="email-cc">-->

    </fieldset>
    <br><%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
