<% content_for(:page_title, 'Verify Support - Problem') %>

<legend>
  <h1 class='heading-large'>Report a problem</h1>
</legend>

<%= form_for @support, url: '/problem'  do |f| %>
  <div class='form-group'>
    <fieldset>

      <%= f.hidden_field :subject, value: 'Verify Support - Problem' %>

      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :your_name %>

      <%= f.text_field :service_name %>

      <%= f.text_field :your_email_address %>

      <%= f.text_field :email_addresses_of_anyone_else_you_want_to_be_copied_in %>

    </fieldset>
    <br><%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
