<% content_for(:page_title, 'Support - Question') %>
<%= form_for @support, url: support_question_path  do |f| %>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Ask a question & give feedback</h1>
      </legend>

      <%= f.hidden_field :subject, value: "[Question or Feedback]" %>
      <%= f.hidden_field :service, value: "null" %>

      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :name %>

      <%= f.email_field :email %>

    </fieldset>
    <br><%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
