<% content_for(:page_title, 'Verify Support - Question or Feedback') %>

<legend>
  <h1 class='heading-large'>Ask a question or give feedback</h1>
</legend>

<%= form_for @support, url: support_question_path  do |f| %>
  <div class='form-group'>
    <fieldset>

      <%= f.hidden_field :subject, value: 'Verify Support - Question or Feedback' %>

      <%= f.text_area :message, rows: 10 %>

      <%= f.text_field :your_name %>

      <%= f.text_field :your_email_address %>

    </fieldset>
    <br><%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
