<% content_for :html_lang, params[:locale] %>
<% content_for :page_title, 'Support' %>

<% content_for :head do %>
  <%= yield :refresh_tag %>
  <%= stylesheet_link_tag 'application', integrity: true %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :content do %>
  <main id="content" tabindex="-1">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </main>
<% end %>

<% content_for :body_end do %>

  <%= javascript_include_tag 'application', integrity: true %>

<% end %>
<%= render file: 'layouts/govuk_template' %>
